@import "../../styles/colors";

.Button {
  height: 40px;
  background-color: @cta;
  border: 0;
  color: @panel-border;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  outline: 0;

  &.large {
    height: 60px;
  }

  &:hover {
    background-color: mix(#fff, @cta, 10%);
  }

  .dark & {
    background-color: @cta-light;

    &:hover {
      background-color: mix(#fff, @cta-light, 10%);
    }
  }

  &.secondary {

  }
}
