@import "../../styles/colors";

.Button {
  height: 40px;
  background-color: @color-8;
  border: 0;
  color: @color-4;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  outline: 0;
  padding: 0 20px;

  &.large {
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }

  &:hover {
    background-color: mix(#fff, @color-8, 10%);
    color: @color-1;
  }

  .dark & {
    background-color: @color-9;

    &:hover {
      background-color: mix(#fff, @color-9, 10%);
    }
  }

  &.transparent {

    &, &:hover {
      background-color: transparent;
    }
  }
}
