@import "../../styles/colors";

.List {
  width: 300px;
  background-color: @color-3;
  border: 1px solid @color-4;
  border-radius: 5px;

  & + .List {
    margin-left: 20px;
  }

  > header {
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
  }

  > div {
    padding: 0 10px 10px;
  }
}
