@import "../../styles/colors";

.List {
  width: 240px;
  display: flex;
  flex-flow: column nowrap;

  > header {
    flex: none;
    background-color: @color-3;
    border: 1px solid @color-4;
    border-radius: 3px 3px 0 0;
    height: 48px;
    padding: 3px 7px 0 19px;
    display: flex;

    > input {
      flex: auto;
      font-weight: 600;
      border: 0;
      background-color: transparent;
      margin: 0 0 0 -10px;
      padding: 0 0 2px 10px;
      height: 40px;
    }

    > .IconButton {
      flex: none;
      visibility: hidden;
    }

    &:hover > .IconButton {
      visibility: visible;
    }
  }

  &.editing > header {
    background-color: @color-1;
    border-color: @color-5;

    > .IconButton {
      visibility: visible;
    }
  }

  > ul {
    flex: 0 1 auto;
    background-color: @color-3;
    border-left: 1px solid @color-4;
    border-right: 1px solid @color-4;
    list-style: none;
    margin: 0;
    padding: 8px 7px;
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    position: relative;

    > .Card {

      &:not(.editing) {

        &,
        > textarea {
          cursor: pointer;
        }
      }

      & + .Card {
        margin-top: 8px;
      }
    }
  }

  > footer {
    flex: none;
    padding: 8px;
    position: relative;
    background-color: @color-3;
    border: 1px solid @color-4;
    border-radius: 0 0 3px 3px;

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;

      > .Card {
        background-color: transparent !important;

        > textarea {
          color: @color-6;
        }
      }
    }
  }
}
