@import "colors";

@import (inline) "~normalize.css/normalize.css";

* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: @base-background;
  cursor: default;
  user-select: none;
}
