@import "colors";

@import (inline) "~normalize.css/normalize.css";

* {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  outline: 0;
}

body {
  box-sizing: border-box;
  background-color: @color-2;
  cursor: default;
  user-select: none;
  font: 14px "open-sans", sans-serif;
  line-height: 1.5em;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}

a {
  color: @color-8;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: @color-9;
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: "open-sans", sans-serif;
}

::-webkit-input-placeholder {
  color: @color-5;
}

::placeholder {
  color: @color-5;
}
