@import "colors";

@import (inline) "~normalize.css/normalize.css";

* {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

body {
  box-sizing: border-box;
  background-color: @base-background;
  cursor: default;
  user-select: none;
  font: 16px "open-sans", sans-serif;
  line-height: 1.5em;
  font-weight: 400;
  font-style: normal;
}

a {
  color: @cta;
  text-decoration: none;
  cursor: pointer;
}
