@hue: 229;

@base-background-highlight: #fff;
@base-background: hsv(@hue, 2%, 100%);

@panel-background: hsv(@hue, 3%, 97%);
@panel-border: hsv(@hue, 4%, 94%);

@border: hsv(@hue, 6%, 88%);
@primary: hsv(@hue, 60%, 70%);
@text: hsv(@hue, 30%, 30%);
