@hue: 229;

@white: #fff;

@base-background-highlight: #fff;
@base-background: hsv(@hue, 2%, 100%);

@panel-background: hsv(@hue, 3%, 97%);
@panel-border: hsv(@hue, 4%, 94%);

@border: hsv(@hue, 6%, 88%);
@cta: hsv(@hue, 80%, 80%);
@text: hsv(@hue, 30%, 30%);

@background-2: hsv(@hue, 30%, 30%);
@menu-background: hsv(@hue, 30%, 30%);

@inverted-text: hsv(@hue, 4%, 94%);

@label-color: hsv(@hue, 14%, 66%);
