@import "../../styles/colors";

#App {
  width: 100vw;
  height: 100vh;
  background-color: @color-7;
  position: relative;

  > * {
    z-index: 1;
  }

  > .layout-enter {
    z-index: 2;
    opacity: 0;
    transition: opacity .5s ease-out;
  }

  > .layout-enter-active {
    opacity: 1;
  }
}
