@import "../../styles/colors";

#App {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;

  > header {
    flex: none;
    height: 60px;
    background-color: @primary;
  }

  > div {
    flex: auto;
    display: flex;

    > .ProjectList {
      flex: none;
      width: 250px;
      background-color: @panel-background;
      box-shadow: inset -1px 0 @panel-border;
    }

    > .Project {
      flex: auto;
    }
  }
}
