.Fieldset {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;

  > .Field {
    margin: 0;

    &:not(:first-child) {
      margin-top: -1px;

      > .TextInput {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &:not(:last-child) {

      > .TextInput {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:focus {
      z-index: 2;
    }
  }
}
