@import "../../styles/colors";

.TextInput {
  height: 60px;
  background-color: @color-1;
  border: 1px solid @color-4;
  border-radius: 5px;
  padding: 0 20px 3px;
  font-size: 20px;
  color: @color-7;
  outline: 0;

  .dark & {
    background-color: @color-4;
    border-color: @color-5;

    &:hover {
      background-color: @color-3;
    }

    &:focus {
      background-color: @color-1;
    }
  }

  &::placeholder {
    color: @color-6;
  }

  &:hover,
  &:focus {
    border-color: @color-5;
  }
}
